* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  display: inline-block;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: center;
  align-items: left;
  height: 100vh;
  background: #7968dc;
}

.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: 0.25rem;
  color: white;
  padding: 20px 15px;
  transition: all linear 0.3s;
}

/* .nav-pills .nav-link:active {
  color: red;
} */

.nav-pills .nav-link:hover {
  background: rgba(104, 80, 240, 1);
  color: white;
}
